body {
	text-align: center;
	color: #333;
	font-family: "PT Sans";
	user-select: none;
}
#title {
	margin-top: 60px;
	padding-right: .5em;
}

/* Game board */
#grid {
	display: inline-block;
	margin: 0 auto;
	margin-top: 60px;
	font-size: 0;
	vertical-align: middle;
}
.row {
	display: block;
}
.row div {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 5px;
	background: #ededed;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}
.row div::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	font-family: "FontAwesome";
}
.row div.x::after {
	content: "\f00d";
}
.row div.o::after {
	content: "\f111";
}
.x {
	color: #F4B350;
}
.o {
	color: #336E7B;
}

span {
	font-size: 2em;
	font-family: "FontAwesome";
}

/* Control panel */
#control-panel {
	position: absolute;
	top: 20px;
	left: 30px;
	text-align: center;
}
.button {
	display: inline-block;
	margin: 3px;
	padding: 1em 2em;
	float: left;
	clear: left;
	color: inherit;
	background: #ededed;
	border-radius: 3px;
	text-decoration: none;
}
.button.main {
	color: white;
	background: #336E7B;
}
.button.main:hover {
	background: #255059;
}
.button.alt {
	font-size: .85em;
	background: #F4B350;
}
.button.alt:hover {
	background: #d69d47;
}

/* Information */
#info {
	position: absolute;
	top: 20px;
	right: 30px;
	width: 220px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
}
#info h2 {
	margin: 0;
	padding: 10px;
	font-size: .9em;
	color: #555;
	background: #f7f7f7;
	border-bottom: 1px solid #eee;
}
#info p {
	margin: 0;
	padding: 1em;
	border-bottom: 1px solid #eee;
}
